local_settings.py
.idea
db.sqlite3
*/__pycache__/*
__pycache__/*
env/*
myenv/*

*.pyc
node_modules
/__pycache__/
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3
env
myenv
local_settings.py
# cademy/local_settings.py
# Only for Development only
**/migrations/**
**/migrations
**/migrations/__init__.py
sportalmain/migrations/
blogApp/migrations/

logs/
logs/*.log
studentportal/__pycache__/*
studentportal/__pycache__/
sportalmain/__pycache__
sportalmain/migrations
sportalmain/migrations/*

sportalmain/__pycache__/*
sportalmain/migrations/__pycache__/*
sportalmain/migrations/__pycache__/
sportalmain/migrations/__pycache__
.space