*{
    margin: 0px;
    padding: 0;
}


html,body{
    height: 100%;
      margin: 0;
      padding: 0;
}

.gen-bg{
    background-color: #DCDCDC !important;
}

.gen-lbg{
    background-color: #ebebf3fe !important;
}

.dark-bg{
    background-color: #060E40 !important;
}

.nav-link{
    color: #F5F5F7 !important;
    opacity: 0.6;
}

.active {
    color:#F5F5F7 !important;
    opacity: 1;
}

.card-rounded{
    border-radius: 0.65rem !important;
}

.nav-text-font{
    font-size: 1.10rem;
}