
{% extends 'index.html' %}
    {% load static %}
    {% load tags %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12  d-flex flex-column justify-content-center">
                <h1 class="w-100 text-center">Student Portal</h1>
                <div class="w-100 d-flex align-items-center justify-content-center ">
                    <p class="w-50 ">Student Portal is a web application that allows students to view their academic information, such as grades, course registration, class schedule, and more. Students can also view their financial information, such as tuition and fees, billing statements, and payment history. Students can also view their personal information, such as contact information, emergency contacts, and demographic information.
                    </p>
                </div>
            </div>
        </div>
        <div class="row d-flex">
            <h1 class="w-100 text-center">Developers</h1>
            <div class=" w-100 d-flex justify-content-center my-5">
                <div class="card p-2 mx-2" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Parth Parmar</h5>
                      <h6 class="card-subtitle mb-2 text-muted">CE Sem 6</h6>
                      <p class="card-text">Full- Stack Developer | President @ Club IDE | Lead @ GDSC GECG</p>
                      <a href="https://github.com/parth-03083" target="_blank" class="card-link"><i class="bi bi-github"></i></a>
                      <a href="https://parthparmar.in" target="_blank" class="card-link"><i class="bi bi-globe"></i></a>
                    </div>
                  </div>
                  <div class="card p-2 mx-2" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Viveena Rathi</h5>
                      <h6 class="card-subtitle mb-2 text-muted">CE Sem 6</h6>
                      <p class="card-text">Full Stack Developer | Secratery @ Club IDE | Core Team Member @ GDSC GECG</p>
                      <a href="https://github.com/viveena30" target="_blank" class="card-link"><i class="bi bi-github"></i></a>
                      <a href="http://viveena.netlify.app/" target="_blank" class="card-link"><i class="bi bi-globe"></i></a>
                    </div>
                  </div>
                  <div class="card p-2 mx-2" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Ayush Solanki </h5>
                      <h6 class="card-subtitle mb-2 text-muted">IT Sem 6</h6>
                      <p class="card-text">Full Stack Developer | Vice-President @ Club IDE </p>
                      <a href="https://github.com/AyushSolanki-17" target="_blank" class="card-link"><i class="bi bi-github"></i></a>
                      <a href="https://ayushsolanki-17.github.io/Portfolio/" target="_blank" class="card-link"><i class="bi bi-globe"></i></a>
                    </div>
                  </div>
            </div>
        </div>

    </div>
{% endblock %}