<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Portal</title>
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- 
        "D:\mystuff\studentportal\sp\Student-Portal\static\vendors\bootstrap\css\bootstrap.min.css"
     -->
</head>
<body>
        
    <div class="container-fluid h-100">
        <div class="row h-100">
          <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <div class="w-100 my-3 d-flex justify-content-center text-center flex-column">
                    {% if request.user.is_authenticated %}
                    <div class="logo text-white ">
                      <img src="{% static 'assets/images/avtar.png' %}" alt="" srcset="">
                    </div>
                    <div class="text-secondary text-white">
                      {{ request.user.first_name }} {{ request.user.last_name }}
                    </div>
                    {% else %}
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                    {% endif %}
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Orders</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Customers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Reports</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Analytics</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Settings</a>
                </li>
              </ul>
            </div>
          </nav>
    
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% block  content %}
            
            {% endblock %}
          </main>
        </div>
      </div>
    
         
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper-base.min.js"
      integrity="sha384-zxRSn3abFpD/iz/veg8J/0KZ2LfRZ5E5XNjs5Nog12mzyZLcVCt2BCFWX9Cwk+W"
      crossorigin="anonymous"></script>
  

    <script>
      $(document).ready({
        
      })
    </script>
    {% block js %}
    {% endblock %}

</body>
</html>