{% load static %}
{% load tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Portal</title>
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>
    <div class="container-fluid h-100">
        <div class="row gen-bg h-100 d-flex flex-column justify-content-center align-items-center">
            <div class="card w-50 pt-3
            card dark-bg card-rounded shadow d-flex flex-column align-items-center">
            <div class="h2 text-center text-white">Student Sign Up</div>

                
                <div class="col-md-6 shadow rounded py-2">
                    <form id="signupForm" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                        <label class="form-label text-gray-900 mb-0 mt-1 text-secondary  font-weight-bold">{{ field.label_tag }}</label>

                        {{field|add_class:'form-control'}}
                        {% endfor %}
                        <div class="w-100  d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary signup-submit m-2">Submit</button>
                        </div>
                        {% if messages %}
                            <ul class="mt-4 alert alert-danger" style="list-style: none;">
                                {% for message in messages %}
                                  <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message}}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                    </form>

                </div>
            </div>
        </div>
    </div>




    <script src="{% static 'vendors/jQuery/jQuery.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper-base.min.js"
        integrity="sha384-zxRSn3abFpD/iz/veg8J/0KZ2LfRZ5E5XNjs5Nog12mzyZLcVCt2BCFWX9Cwk+W"
        crossorigin="anonymous"></script>
    <script>
        var form = $('#signupForm').submit(function (e) {
            e.preventDefault();
            signup();
        })
        function signup() {
            var rform = $('#id_email').val();
            if(rform.split('@')[1] != 'gecg28.ac.in'){
                alert('Please enter valid GECG email.')
                return;
            }

            var form = $('#signupForm').serialize();
            $.ajax({
                url: "{% url 'signup' %}",
                type: 'POST',
                data: form,
                success: function (response) {
                    console.log(response);
                    window.location = "{% url 'student-details' %}";
                },
                error: function(e){
                    console.log(e);
                    alert("Text");
                }
            });
        }
    </script>

</body>

</html>